@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@300&display=swap');


 body{
    animation: changeanimation 12s linear infinite;
}
@keyframes changeanimation{
    0%{
        background-image: url(../img/bg1.jpeg);
        
    }
    20%{
        background-image: url(../img/bg2.jpeg);
        
    }
    40%{
        background-image: url(../img/bg3.jpeg);
        
    }
    60%{
        background-image: url(../img/bg6.jpg);
    }
    100%{
        background-image: url(../img/bg5.jpg);
    }
} 


img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}



input{
    width: 89%;
    line-height: 3em;
    border: 2px solid red;
    border-radius: 15px;
    margin-bottom: 25px;
}

button{
    width: 10%;
    height: 4em;
    border: 2px solid black;
    border-radius: 15px;
}

.results{
    text-align: center;
    color: rgb(14, 12, 12);
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Mono', monospace, Lucida ;
}


@media (max-width:800px) and (min-width:300px)
{
    input{
        width: 100%;
    }
    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}